{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",  // import()
    "transform-class-properties",  // 类属性简便写法
    "transform-decorators-legacy",  // decorator
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true  // 导入css源文件并在编译期间完成优化。可以显着减少包的大小，这取决于您对库的使用情况。
      }
    ]
  ]
}