.textOverflow {
  display: inline-block;
  text-overflow: ellipsis;
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
}

:global {
  .ant-menu {
    font-family: 'Josefin Slab', Microsoft Jhenghei;
  }
}