.tips {
  border-left: none;
  border-radius: 3px;
  padding: 0.75em 1em;
  p {
    margin-top: 0;
  }

  p:first-child {
    display: none;
  }
}

blockquote[data-type='info'] {
  color: #83afe5;
  background-color: #dcf2fd;
}

blockquote[data-type='warning'] {
  background-color: #fbedb7;
  color: #6a7d89;
}

.inlineCode {
  border: none;
  color: #df8c8c;
  background-color: #fff;
  white-space: pre-wrap;
}

.em {
  color: #5195ce;
  font-size: 15px;
  font-weight: bold;
}

.titleWrap {
  position: relative;
  padding-left: 10px;

  &:before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 15px;
    background: #40a9ff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
}

.anchors {
  color: rgba(0, 0, 0, 0.85);
  transition: color 0.5s ease-out;
  .name {
    vertical-align: middle;
  }

  .link {
    transition: transform 0.5s ease-out;
    margin-left: 10px;
    vertical-align: middle;
    &:hover {
      color: #2086d7;
    }
  }

  &:hover {
    transition: color 0.5s ease-out;
    .link {
      transition: transform 0.5s ease-out;
      transform: rotate(225deg);
    }
  }
}
