@import "../size.scss";

.uploader {
  background: #fff;
  outline: none;
  display: block;
  border-radius: 6px;
  cursor: pointer;

  :global {
    .ant-upload-list-item .ant-upload-list-item-info {
      width: 100%;
      height: 100%;
      span {
        width: 100%;
        height: 100%;
      }
    }

    .ant-upload.ant-upload-select-picture-card {
      display: inline-block;
      padding: 8px;

      .ant-upload {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0;
      }
    }
  }

  .uploaderTrigger{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: #999;
    background: none;
  }

  .uploaderTrigger, .avatar {
    width: 100%;
    height: 100%;
  }
}

.smallUploader {
  height: $SmallImgHeight;
  :global {
    .ant-upload-list-item {
      @include SmallSize;
      .ant-upload-list-item-uploading-text {
        @include SmallSize;
      }
    }

    .ant-upload.ant-upload-select-picture-card {
      @include SmallSize;
    }
  }

  .uploaderTrigger{
    font-size: $SmallPlus;
  }
}

.middleUploader {
  height: $MiddleImgHeight;
  :global {
    .ant-upload-list-item {
      @include MiddleSize;
      .ant-upload-list-item-uploading-text {
        @include MiddleSize;
      }
    }

    .ant-upload.ant-upload-select-picture-card {
      @include MiddleSize;
    }
  }


  .uploaderTrigger{
    font-size: $MiddlePlus;
  }
}

.largeUploader {
  height: $LargeImgHeight;
  :global {
    .ant-upload-list-item {
      @include LargeSize;
      .ant-upload-list-item-uploading-text {
        @include LargeSize;
      }
    }

    .ant-upload.ant-upload-select-picture-card {
      @include LargeSize;
    }
  }

  .uploaderTrigger{
    font-size: $LargePlus;
  }
}